// Variables
@import "variables";


body {
  background-color: $dark-blue;
  margin: 0;
  font-family: degular,sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100vw;
  height: 100vh;
}


header{
  width: 100%;
  padding: 0;
  margin-bottom: 2%;
  .row{
    display: inline-block;
    width: 100%;
    position: relative;
  }
  
  #frame{
    position: absolute;
    left: 0;
  }

  #logo{
    position:absolute;
    left:41%;
    top: 70%;
  }

  #star1{
    float: right;
  }
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  .main-text{
    position: relative;
    margin-top: 1%;
    width: 55%;
    img{
      position: absolute;
      top: 4%;
      left: -10%;
    }

    h1{
      font-family: degular-display,sans-serif;
      font-weight: 600;
      font-style: normal;
      text-align: center;
      color: $light-blue;
      font-size: 4vw;
      position: relative;
      z-index: 2;
      margin-bottom: 1%;

      &::after{
        content: url(../../assets/imgs/star-3.svg);
        position:relative; 
        left: 250px;
        top: 10px;
      }
    }
    // h1 style ends here
  }  
  // main text style ends here

  #button_container{
    position: relative;
    top: 5vh;
    left: -11%;
    margin: 2% auto;

    #rectangle{
      position: relative;
      &::before{
        content: "";
        position: absolute;
        top: -4%;
        left: 30%;
        background-color: $dark-orange;
        display: inline-block;
        width: 350px;
        height: 55px;
      }

      &::after{
        content: "j'ai un projet dont je voudrais vous parler";
        color: white;
        display: inline-block;
        padding: 15px 30px;
        width: 270px;
        position: absolute;
        top: -22%;
        left: 40%;
        background-color: $light-orange;
        transform: rotate(-3deg);
      }

    }
      // rectangle style ends here

  }

}
// main style ends here



// responsive handler

@media screen and (max-width: 880px) {

  main .main-text{
    width: 70%;
    margin-top: 5%;
    h1{
      font-size: 5vw;
    }
  }

  main  #button_container #rectangle{
    top: 7vh;
    left: -20%;
  }
}

// @media screen and (max-width: 580px) {
//   body {
//     background-color: lightgreen;
//   }

//   main .main-text{
//     width: 70%;
//     h1{
//       font-size: 5vw;
//     }
//   }

//   main  #button_container #rectangle{
//       left: 36%;
//   }
// }

@media screen and (max-width: 680px) {

  main .main-text{
    width: 80%;
    margin-top: 15%;
    h1{
      font-size: 4.9vw;
    }
  }

  main  #button_container #rectangle{
    top: 2vh;
    left: -30%;
  }

  header #logo{
    left: 39%;
  }
}